@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@500&display=swap');

:root {
  --color-background: #F4F4F4;
  --color-background-dark: #9eaabe;
  --color-dark: #2D3142;
  --color-accent: #EF8354;
  --inline-padding: max(calc((100vw - 1200px) / 2), 1em);
  --font-normal: 'Poppins', sans-serif;
  --font-header: 'Roboto Slab', serif;
  --height-nav: 4em;
}

html {
  scroll-padding-top: var(--height-nav);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

p, a, div {
  font-family: var(--font-normal);
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 2.7em;
  font-family: var(--font-header);
}

h2 {
  font-size: 1.9em;
  font-family: var(--font-header);
  font-weight: bold;
  margin: 0;
}

nav {
  height: var(--height-nav);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background-dark);
  display: flex;
  align-items: center;
  border-bottom: .2em solid var(--color-dark);
  padding-inline: var(--inline-padding);
  box-sizing: border-box;
}

nav a {
  padding: .5em 1.5em;
  color: var(--color-dark);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:nth-child(1) {
  background-color: var(--color-dark);
  color: var(--color-background);
  margin-right: 1.5em;
  border-radius: .3em;
}

section#price {
  padding-inline: var(--inline-padding);
  padding-block: 4.5em;
  display: flex;
  gap: 3em;
  border-bottom: .2em solid var(--color-dark);
}

section#price img {
  max-width: 100%;
  max-height: 100%;
  border: .2em solid var(--color-dark);
}

section#price .left-column {
  flex: 1.8;
}

section#price .right-column {
  margin-top: 8em;
  flex: 1;
}

section#price .price {
  font-size: 2.4em;
  font-family: var(--font-header);
  font-weight: bold;
  letter-spacing: .02em;
  margin-left: .5em;
  margin-bottom: 1.2em;
}

section#price a {
  display: block;
  padding: .8em 0;
  width: 100%;
  color: var(--color-background);
  text-decoration: none;
  text-align: center;
  background-color: var(--color-dark);
  box-sizing: border-box;
  border: .2em solid var(--color-dark);
  margin-top: 2.2em;
  border-radius: .3em;
  font-weight: bold;
  letter-spacing: .04em;
}

section#price a:hover {
  background-color: var(--color-background);
  color: var(--color-dark);
}

section {
  padding-inline: var(--inline-padding);
  padding-block: 4.5em;
}

section#description {
  display: flex;
  gap: 2.5em;
}

.pro-and-con-container {
  background-color: var(--color-background-dark);
  padding: 2.2em;
}

.pro-and-con-container {
  flex: 1;
  height: max-content;
}

.description {
  flex: 2.5;
  height: max-content;
}

.pro-and-con-header {
  font-size: 1.5em;
  font-family: var(--font-header);
  font-weight: bold;
  margin-bottom: .6em;
}

.pro, .con {
  display: flex;
  gap: .8em;
}

.pro div {
  font-weight: bold;
  color: rgb(13, 124, 13);
  font-size: 1.3em;
}

.pro {
  margin-bottom: .5em;
}

.con div {
  font-weight: bold;
  color: rgb(155, 6, 6);
  font-weight: 1.3em;
}

section#relatedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-dark);
}

section#relatedProducts h2 {
  margin-bottom: 1.5em;
}

section#relatedProducts img {
  border: 2px solid var(--color-dark);
}

.related-products-container {
  display: flex;
  gap: 2.5em;
}

.related-products-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related-products-container article p {
  text-align: center;
  margin-top: 0;
}

footer {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--color-background);
  text-decoration: none;
  padding: 2em 2em;
  margin-block: 2em;
}

footer a:hover {
  text-decoration: underline;
}